.App {
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
  color: #000;
  overflow: hidden;
}

header {
  height: 80px;
  max-width: 100%;
  border-bottom: solid black;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Home {
  max-width: 100%;
  padding: 30px;
}

.Menu {
  display: flex;
  gap: 40px;
}

.Palette {
  height: 200px;
  width: 300px;
  border: solid #000 3px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Palette > .colors {
  display: flex;
  height: 100%;
}

.Palette > .colors > div {
 height: 100%;
 width: 100%;
}

.Palette > .name {
  border-top: solid #000 3px;
  padding: 0 10px;
}

.Generator {
  height: 100%;
  max-width: 100%;
  display: flex;
}

.Generator > .Colors {
  display: flex;
  width: 100%;
  height: 100%;
}

.Generator > .Colors > .Color {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.Generator > .Colors > .Color > div {
  padding: 15px 15px;
  margin-bottom: 200px;
  color: #FFF;
  text-transform: uppercase;
  background-color: rgba( 0, 0, 0, 20%);
}


.NewColor{
  width: 100px;
  height: 100%;
  background-color: #343434;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewColor > div {
  background-color: #484848;
  border-radius: 2px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

.new-palette {
  color: #FFF;
  background-color: #343434;
  height: 30vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-palette > div {
  background-color: #484848;
  border-radius: 2px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-palette {
  width: 100%;
}
.home-palette > div {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 30px;
}