body {
  width: 100vw;
  background-color: #FFF;
  color: #000;
  display: flex;
  flex-wrap: wrap;
}

header {
  height: 80px;
  width: 100vw;
  border-bottom: solid black;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Home {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
}

.Menu {
  display: flex;
  gap: 40px;
}

.new-palette {
  color: #FFF;
  background-color: #343434;
  height: 30vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-palette > div {
  background-color: #484848;
  border-radius: 2px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-palette > div {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}